:root {
    // brand colors
    --c-brand: #0072ff !important;
    --c-brand-light: #0072ff !important;
    --c-text-accent: #0072ff !important;
    --back-to-top-color: #0072ff !important;
    --back-to-top-color-hover: #0072ff !important;

    --c-tip: #0072ff !important;

    --el-color-primary: #0072ff !important;

    --c-badge-tip: #42b983;
}

body {
    overflow-x: hidden;
}

.grid {
    display: grid;
    row-gap: 3rem;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    column-gap: 30px;
    align-items: center;
    margin: 40px 0;
    text-align: center;

    a {
        width: 100%;
        display: inline-block;
    }

    img {
        max-height: 3rem;
        vertical-align: middle;
    }
}

.home-page #introduction {
    display: none;
}

.logo-video {
    width: 70%;
}

.grid-apps {
    grid-template-columns: repeat(3, minmax(0, 1fr));

    .eco-app {
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        transition: all 0.1s ease-in-out;

        &:hover {
            transform: scale(1.05);
        }

        .link {
            width: 80%;
            display: inline-block;
            background: #0072ff;
            border-radius: 5px;
            margin-bottom: 20px;
        }
        
        .banner {
            width: 100%;
            height: 130px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            border-bottom: 1px solid #e6e6e6;
            padding: 0 15px;
            box-sizing: border-box;
        }
    
        a {
            color: #fff;
            padding: 10px 0;
            text-decoration: none !important;
            overflow: hidden;
            text-overflow:ellipsis;
            white-space: nowrap;
        }

        h4 {
            margin: 20px 0 10px;
        }

        .description {
            p {
                font-size: 13px;
                display: inline-block;
                height: 100px;
                padding: 0 15px;
                text-align: left;
                overflow: hidden;
            }
        }
    }
}

@media (max-width: 419px) {
    .logo-video {
        width: 100%;
    }

    .grid-apps {
        grid-template-columns: repeat(2, minmax(0, 1fr));

        .eco-app {
            .description {
                p {
                    height: 140px;
                }
            }
        }
    }
}

.protocol-page {
    h1, h2 {
        color: #003c86;

        code {
            color: #003c86;
        }
    }

    h3 {
        color: #004eaf;

        code {
            color: #004eaf;
        }
    }

    h4 {
        color: #0072ff;

        code {
            color: #0072ff;
        }
    }

    h5 {
        color: #338dff;

        code {
            color: #338dff;
        }
    }

    h6 {
        color: #5ba5ff;
        font-size: 0.9rem;

        code {
            color: #5ba5ff;
        }
    }
}